{% extends 'base.twig' %}

{% block content %}
    <section class="section">
        <h2>Mon compte</h2>

        <h3>Mes réservations</h3>
        <table class="table">
            <tr>
                <th>Réservation n°</th>
                <th>Dates</th>
                <th>Hotel</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>3455643</td>
                <td>12/04/16 - 14/04/16</td>
                <td>Le Pourpauvres</td>
                <td>37,67€</td>
            </tr>
            <tr>
                <td>3455643</td>
                <td>12/04/16 - 14/04/16</td>
                <td>Le Pourpauvres</td>
                <td>37,67€</td>
            </tr>
        </table>
    </section>
{% endblock %}