{% extends 'base.twig' %}

{% block content %}
    <section class="section">
        <h2>Réservation confirmée</h2>

        <p>
            Votre réservation a bien été prise en compte.<br />
            Vous pouvez retrouver votre facture sur votre compte dans la section "Mes réservations".
        </p>
    </section>
{% endblock %}